# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.db
*.sqlite

# IDEs
.idea/
.vscode/

# Environment variables
.env
.flaskenv

# OS
.DS_Store # macOS
Thumbs.db # Windows

# Tests
.pytest_cache/
